
/.obsidian/plugins/obsidian-git/data.json
/.obsidian/plugins/obsidian-git/data.json
/.obsidian/workspace.json
.obsidian/workspace.json
.obsidian/appearance.json
/Secret.md
/Secret Images/
/IMPUTACION ERP Salva.md
/LiderIT Anotaciones.md
/Salva.md